<h1>Painel do Administrador</h1>

<table>
  <thead>
  <tr>
    <th>Nome</th>
    <th>E-mail</th>
    <th>Status</th>
    <th>Ações</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.admin ? "Admin" : "Usuário" %></td>
      <td>
        <%= link_to "Editar", edit_user_path(user) %> |

        <% if user.admin? %>
          <% unless user == current_user %>
            <%= button_to "Remover Admin", remove_admin_user_path(user), method: :patch, class: "btn-danger" %>
          <% end %>
        <% else %>
          <%= button_to "Tornar Admin", make_admin_user_path(user), method: :patch, class: "btn-success" %>
        <% end %>
      </td>
      <td>
        <%= button_to "Excluir", user,
                      data: { turbo_method: :delete, turbo_confirm: "Deseja apagar #{user.name}?" },
                      class: "btn-delete" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to "Cancelar", root_path %>